/*  Add your styling here */
body {
  margin: 0;
  padding: 0;
  background-color: #f5b7be;
}
header {
  background-color: black;
  color: white;

  font-weight: lighter;
}
main{
    padding: 20px ;
}
header p{
  text-align: end;
}
.a{
display: flex;
justify-content:space-between;

}
.mylinks{
    display: none;
} 
.flexxy{
    display: flex;
    flex-direction: column;
    align-items: end;
   justify-content: space-between;
   margin-bottom: 10px;
} 

.menu{
    width: 35px;
  height: 5px;
  background-color: rgb(199, 190, 190);
  margin: 4px 4px;
}
header p {
  margin: 10px;
}
/* .b {
  margin: 20px;
} */
.imagea {
  width: 15%;
  height: 8%;
  margin: 10px;
}
section a {
  /* float: left;
  display: block; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.b h1 {
  font-size: 3rem;
}
.b p {
  font-size: 1.2rem;
 
font-family:Arial, Helvetica, sans-serif;
}
#wuf {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.b {
  height: 10%;
}
.c {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}
.c img {
  max-width: 100%;
  height:auto;
  margin-bottom: 20px;
  
}
.d {
  display: flex;
  flex-direction: column;

  
}

footer p{
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
.d a {
  color: #f2f2f2;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  padding-bottom: 5px;
}
footer{margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
background-color: #161b27f1;
}
@media screen and (min-width: 540px) {
  .left, .main, .right {
    width: 100%; The width is 100%, when the viewport is 800px or smaller
  }
  .a p{
   font-size: 26px;
  }
   #wuf{
    width:100%;
  }
}
@media screen and (min-width: 900px) {
  .left, .main, .right {
    width: 100%; The width is 100%, when the viewport is 800px or smaller
  }
  header{position: relative;}
.mylinks{ background-color: rgb(56, 32, 15) ;
    position: absolute;
    bottom: -23%;
    width: 95.5%;
   margin: 20px;
padding: 10px;
display: block;
text-align: end;

}
.menu{
  display: none;
}
.mylinks a{
    padding: 2.5%;
    color: #f2f2f2;
    
}
main{ margin-top: 5%;}

.c {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  align-items: center;
}
.c img {
  max-width: 100%;
  height:auto;
  margin-bottom: 20px;
  
}

.d{
    flex-direction: row;
   justify-content: center;
   gap: 5%;
   padding: 1.5%;
}
.flexxy{
    display: flex;
    flex-direction: column;
    align-items: end;
   justify-content: space-between;
   margin-bottom: 10px;
} 




  .a p{
    /* margin-top: 300px; */
    font-size: 30px;
  }
 .b{
    display: grid;
    grid-template-columns: auto auto;
grid-template-areas:'right right left left' ;
gap: 20px;

 }
 .b p,h1{
    text-align: end;
    font-size: 20px;
 }
}
.grid1{grid-area: left; }
.grid2{grid-area: right; }
button{
    background-color: white;
}